@using FishMingle.Models;
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fish Mingle</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">


  <h1>Create Your Very Own Fish!</h1>
  <h4>Add a stylist to the site!</h4>
    <form action="/fish" method="post">
      <label for="userName">Enter your full name</label>
      <input type="text" name="userName">
      <hr>
      <label for="userPassword">Create Password</label>
      <input type="text" name="userPassword">
      <hr>
      <label for="userNameProfile">Enter your profile name</label>
      <input type="text" name="userNameProfile">
      <hr>
      <h4>Choose Your Species!</h4>
      <select class="speciesId" name="speciesId">
      @if(Model!=null)
        {
          foreach(var species in Model)
          {
            <h5><option value="@species.GetSpeciesId()">@species.GetSpeciesName()
            </option></h5>
            <hr>
          }

        }
        </select>
        <hr>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
</body>
</html>
