@{
  Layout = "_Layout";
}
<title>Home Layout</title>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand" href="/">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/users">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/browse">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/matches">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Login</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
  <div class="row">
  <div class="col-md-6">
<h1 id="header"> Dangle Your Bait!</h1>
<br>
<p>Getting tired of floating in your bowl by yourself?</p>

<p>Let us connect you to all the Seven Seas!</p>

<p>Because you are worthy of love and don't deserve to Splash Alone!</p>

<p>FishMingle.com will let you create a profile to reel in other fish that share your interests!</p>

<p>Here's what you might find on FishMingle.Com!</p>
<ul>
  <li>Our advanced nautical mapping algorithms will find your potential fishmates!</li>
  <li>You can also swim through our millions of user pages until you find your match because it is a big ocean and there is someone out there just for you!</li>
  <li>Find someone who won't release you into the wild!</li>
  <li>Throw a line out to your potential fishmate!</li>

</ul>
  <div class="row">
    <blockquote class="blockquote">
  <h3 id="start-row" class="mb-0">Start your aquatic journey and find LOVE today!</h3>
  <br>
  <footer class="blockquote-footer">Dory <br><cite title="Source Title">Finding Nemo</cite></footer>
</blockquote>
    <button href="/" id="start" class="btn">Create a profile now! <3<3<3 </button>
  </div>
</div>
<div class="col-md-6">
<img class="fishbowl" src="~/img/fishlovelogo.png">
</div>
</div>
<hr>
<footer id="footer">©FishMingle.com 2018 <img id="social_media" src="~/img/social_media.png"></footer>

</div>
