@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand" href="/">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fish/create">Create an account</a>
      </li>

    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
<center><h1 id="login">Login Page</h1></center>
<br>
<br>
  <center><form action="/fish/login" method="post">
    <label for="userName">Enter Username:</label>
    <input type="text" name="userName">
    <br>
    <br>
    <label for="userPassword">Enter Password:</label>
    <input type="password" name="userPassword">
    <br>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form></center>
<hr>
<footer id="footer">FishMingle.com ©2018<img id="social_media" src="~/img/social_media.png"></footer>
</div>
