@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<title>Home Layout</title>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand" href="/">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/fish/login">Login</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
  <div class="container">
  <center><h1>Create Your Very Own Fish!</h1></center><br>

    <form action="/fish/create" method="post">

      <label for="userName"><strong>Create Username:</strong></label>
      <input type="text" name="userName" pattern="[A-Za-z0-9]{3,20}"><br>
      <label for="userPassword"><strong>Create Password:</strong></label>
      <input type="password" pattern="[A-Za-z0-9]{8,20}" name="userPassword">
      <p><em>(Your password must include at least 8 characters with no symbols.)</em></p>
      <hr>

      <label for="firstName"><strong>Enter First Name:</strong></label>
      <input type="text" name="firstName" pattern="[A-Za-z]{2,20}">
      <br>
      <label for="lastName"><strong>Enter Last Name:</strong></label>
      <input type="text" name="lastName" pattern="[A-Za-z]{2,20}">
      <br>

      <label for="bio"><strong>Tell us about yourself!</strong> <em>(Below)</em></label><br>
      <textarea rows="5" cols="50" name="bio" pattern="[A-Za-z0-9]{2,500}"></textarea>
      <br><hr>
      <h4>Choose Your Species!</h4>
      <br><select class="speciesId" name="speciesId">
      @if(Model!=null)
        {
          @foreach(var species in Model)
          {
            <h5><option value="@species.GetSpeciesId()">@species.GetSpeciesName()
            </option></h5>
            <hr>
          }
          <hr>
        }
      </select><br>
        <hr>
        <h4>Select the species you prefer:</h4>
          @foreach (var species in Model)
          {
            <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="@species.GetSpeciesId()" name="chosenSpecies">
            <label for="chosenSpecies">@species.GetSpeciesName()</label>
            </div>
          }
<br><br>
      <center><button type="submit" class="btn btn-info">Submit</button></center>
    </form>
<hr>
    <footer id="footer">FishMingle.com ©2018<img id="social_media" src="~/img/social_media.png"></footer>
</div>
