@{
  Layout = "_Layout";
}
  <div class="container">
  <h1>Create Your Very Own Fish!</h1>
  <h4>Add a stylist to the site!</h4>
    <form action="/fish/create" method="post">
      <label for="userName">Enter your full name</label>
      <input type="text" name="userName">
      <hr>
      <label for="userPassword">Create Password</label>
      <input type="text" name="userPassword">
      <hr>
      <label for="userNameProfile">Enter your profile name</label>
      <input type="text" name="userNameProfile">
      <hr>
      <h4>Choose Your Species!</h4>
      <select class="speciesId" name="speciesId">
      @if(Model!=null)
        {
          foreach(var species in Model)
          {
            <h5><option value="@species.GetSpeciesId()">@species.GetSpeciesName()
            </option></h5>
            <hr>
          }
        }
        </select>
        <hr>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
