@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/browse">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/match">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/fish/@Model["sessionId"]/logout">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
@if(Model!=null)
{
<h1>Profile: @Model["newFish"].GetName()</h1>
<h3>Bio: @Model["newFish"].GetBio()</h3>
}
      <button> <a href="/fish/@Model["sessionId"]/update/password"
      class="btn">update your password</a></button>
      <button> <a href="/fish/@Model["sessionId"]/update/username"
       class="btn">update your personal information</a></button>
<a href="/fish/@Model["sessionId"]/confirmation/delete">Delete My Account</a>
<hr>
<footer id="footer">FishMingle.com ©2018 </footer>
</div>
