@using FishMingle.Models;
@{
  Layout = "_Layout";
}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <img class="fishlovers" src="~/img/fishlovers.png">
  <a class="navbar-brand">Fish Mingle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/browse">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fish/@Model["sessionId"]/match">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/fish/@Model["sessionId"]/logout">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>
<div class="container">
  <br>
  @if(Model!=null)
  {

    <h1 id="profile">Profile: @Model["newFish"].GetFirstName()</h1>
    <br><br>
    <img id="profilePic" src="~/img/profilepic.png">

    <h3>Preferred species: </h3>
    @foreach (var species in Model["speciesList"])
    {
      <li>@species.GetSpeciesName()</li>
    }
    <br>

    <div class="card text-center">
    <div class="card-header">
    <h3>About Me</h3>
    </div>
    <div class="card-body">
    <h5 class="card-title">@Model["newFish"].GetFishSpecies().GetSpeciesName()</h5>
    <p class="card-text">@Model["newFish"].GetBio()</p>

    </div>
    <div class="card-footer text-muted">

    </div>
    </div>



  }


  <br>
  <center><button class="button-color" > <a href="/fish/@Model["sessionId"]/update/password"
  class="btn">Update Password</a></button>
  <button class="button-color"> <a href="/fish/@Model["sessionId"]/update/username"
  class="btn">Update Username</a></button></center>
  
  <center><button class="button-color"> <a href="/fish/@Model["sessionId"]/confirmation/delete" class="btn">Delete Account</a> </button></center>
  <hr>
  <footer id="footer">FishMingle.com ©2018<img id="social_media" src="~/img/social_media.png"></footer>
  </div>
