body{
  background-color: #1c4c5275;
  font-family: Arial,sans-serif;
}
.fishlovers{
  width: auto;
  height: 100px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#fishbowl{
  height: auto;
  margin-left: -150px;
  margin-right: -100px;
}
#fish-container{
  min-width: 500px;

}
.button-color {
  background-color: #fba1ad;
  /*border-color: white;
  border-width: 1px;*/
  color: white;
  margin-top: 10px;
  padding: 0px;
  box-shadow: 0 0 2px black;
}
#errorText {
  color: red;
}
#start-row {
  padding-top: 100px;
  font-family: lobster two;
}
#header {
padding-top: 50px;
font-family: lobster two;
}
.preferred {
  float: right;
}
#footer{
    text-align: center;
}
#social_media{
  height: 75px;
  width: auto;
  text-align: center;
}
label {
    display: inline-block;
    margin-top: 10px;
}
#pike{
  padding-top: 15px;
}
#profile-info {
margin-left: 15px;

}
#browse
{
  font-family: lobster two;
  text-align: center;
}
#profile{
  font-family: lobster two;
  text-align: center;
}
#logout{
  font-family: lobster two;
}
#login{
  font-family: lobster two;
}
#profilePic{
  float: right;
  border: 10px solid black;
  height: 220px;
  width: 220px;
 box-shadow: 0 0 20px black;
}

a {
    color: #f8f9fa;
}

h1{
  font-family: lobster two;
  padding-top: 10px;
  text-align: center;
}
.card-body{
  background-color: #c2d7da;
}

.card-footer{
  background-color: #f5e8c0;
}

.card-header{
  background-color: #62868c;
}
.card{
  box-shadow: 0 0 20px black;
}
