body{
  background-color: #1c4c5275;
  font-family: Arial,sans-serif;
}
.fishlovers{
  width: auto;
  height: 100px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button-color {
  background-color: #fba1ad;
  border-color: white;
  border-width: 4px;
  color: white;
  margin-top: 10px;
}
#errorText {
  color: red;
}
#start-row {
  padding-top: 100px;
}
#header {
padding-top: 50px;
font-family: lobster two;
}
#start-row{
  font-family: lobster two;
}
#footer{
    text-align: center;
}
#social_media{
  height: 75px;
  width: auto;
  text-align: center;
}
label {
    display: inline-block;
    margin-top: 10px;
}
#pike{
  padding-top: 15px;
}
#browse
{
  font-family: lobster two;
  text-align: center;
}
#profile{
  font-family: lobster two;
  text-align: center;
}
#logout{
  font-family: lobster two;
}
#login{
  font-family: lobster two;
}

a {
    color: #f8f9fa;
}

h1{
  font-family: lobster two;
  padding-top: 10px;
  text-align: center;
}
